.sb {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  border-right: var(--border-solid);
  background-color: var(--color-content);
  transition:
    border-color var(--transition),
    box-shadow var(--transition),
    background-color var(--transition);
  overflow-y: scroll;
}

.folders {
  height: 100%;
  padding: 1rem;
  scrollbar-width: none;
  overflow-y: scroll;
}

.folders > li:not(:last-child) {
  margin-bottom: 0.75rem;
}

.folder {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 1rem;
  border: var(--border-solid);
  border-radius: 0.375rem;
  background-color: var(--color-content);
  transition:
    border-color var(--transition),
    background-color var(--transition);
  cursor: pointer;
}

.folder.active {
  border-color: var(--color-primary-50);
  background-color: var(--color-primary-075);
}

.folder:not(.active):hover {
  border-color: var(--color-content-sub-light);
  background-color: var(--color-content-sub-light);
}

.folder:hover .fav svg {
  color: var(--color-font-sub-medium);
}

.icon svg {
  width: 1.5rem;
  height: 1.5rem;
}

.title {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  font-weight: 700;
  transition: color var(--transition);
}

.sub-wrap {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.date,
.bull,
.count {
  flex: 0 0 auto;
  color: var(--color-font-sub-medium);
  font-size: 0.625rem;
  font-weight: 600;
  transition: color var(--transition);
}

.fav {
  margin-left: auto;
}

.fav svg {
  width: 0.8125rem;
  height: 0.8125rem;
  color: var(--color-content);
}

.folder.active:hover .fav:not(.active) svg {
  opacity: 1;
}

.folder.active .fav:not(.active) svg {
  opacity: 0;
}

.folder:hover .fav.active svg,
.fav.active svg {
  color: var(--color-primary-dark);
  opacity: 1;
}

.bottom {
  padding: 1rem;
  border-top: var(--border-solid);
  transition: border-color var(--transition);
}

.create {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.375rem;
  padding: 0.75rem 0.75rem;
  font-size: 0.75rem;
  font-weight: 600;
  border: var(--border-solid);
  border-radius: 0.375rem;
  transition:
    color var(--transition),
    border-color var(--transition),
    background-color var(--transition);
}

.create:hover {
  border-color: var(--color-content-sub-light);
  background-color: var(--color-content-sub-light);
}

@media screen and (max-width: 48.75rem) {
  .sb {
    height: 100%;
    position: absolute;
    box-shadow: var(--shadow);
    z-index: 4;
  }

  .folder.active .fav:not(.active) svg {
    opacity: 1;
  }

  .folder .fav:not(.active) svg {
    color: var(--color-font-sub-medium);
    opacity: 1;
  }
}
