.noresult {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -2rem;
  opacity: 0.55;
}

.emoji {
  font-size: 2.25rem;
  margin-bottom: 1.75rem;
}

.main,
.sub {
  line-height: 1.7;
  transition: color var(--transition);
}

.main {
  margin-bottom: 0.375rem;
  font-weight: 700;
}

.sub {
  font-size: 0.8125rem;
}

@media screen and (max-width: 48rem) {
  .emoji {
    font-size: 2rem;
  }

  .main {
    font-size: 0.8125rem;
  }

  .sub {
    font-size: 0.625rem;
  }
}
