.filter {
  position: relative;
}

.btn {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  padding: 0.625rem 0.75rem;
  font-size: 0.75rem;
  font-weight: 500;
  border: var(--border-solid);
  border-radius: 0.375rem;
  transition: border-color var(--transition);
}

.btn svg {
  width: 0.75rem;
  height: 0.75rem;
  color: var(--color-font-sub-medium);
}

.btn.active svg {
  transform: rotate(180deg);
}

.list {
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  padding: 0.75rem;
  position: absolute;
  top: calc(100% + 0.25rem);
  border: var(--border-solid);
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  background-color: var(--color-content);
  transition:
    border-color var(--transition),
    box-shadow var(--transition),
    background-color var(--transition);
  z-index: 5;
}

.option {
  width: 100%;
  padding: 0.75rem 0.75rem;
  font-size: 0.75rem;
  font-weight: 500;
  border-radius: 0.375rem;
  transition:
    color var(--transition),
    font-weight var(--transition),
    background-color var(--transition);
}

.option:hover {
  background-color: var(--color-content-sub-light);
}

.option.active {
  font-weight: 600;
  background-color: var(--color-content-sub-light-max);
}
