.locations {
  height: 100%;
  background-color: var(--color-content-sub-light-max);
  transition: background-color var(--transition);
}

.locations:has(.header) {
  grid-template-rows: auto 1fr;
}

.locations:has(.header):has(.footer) {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1rem;
  border-bottom: var(--border-solid);
  background-color: var(--color-content);
  transition:
    border-color var(--transition),
    background-color var(--transition);
}

.header-location {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  color: var(--color-font-sub-dark);
  font-size: 0.75rem;
  font-weight: 600;
}

.label {
  transition: color var(--transition);
}

.counts {
  padding: 0.25rem 0.5rem;
  color: var(--color-font);
  font-size: 0.625rem;
  border: var(--border-solid);
  border-radius: 1000px;
  background-color: var(--color-content-sub-light-max);
  transition:
    color var(--transition),
    border-color var(--transition),
    background-color var(--transition);
}

.header-action {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.header-action > button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  padding: 0.5rem 0.75rem;
  position: relative;
  font-size: 0.625rem;
  font-weight: 600;
  border: var(--border-solid);
  border-radius: 0.375rem;
  transition:
    color var(--transition),
    border-color var(--transition),
    background-color var(--transition);
  z-index: 4;
}

.header-action > button > svg {
  width: 0.75rem;
  height: 0.75rem;
}

.header-action > .danger {
  width: 1.875rem;
  height: 1.875rem;
  padding: 0;
  border-color: var(--color-red-25);
}

.header-action > .edit:hover {
  border-color: var(--color-border-medium);
  background-color: var(--color-content-sub-light);
}

.header-action > .danger:hover {
  background-color: var(--color-red-25);
  background-color: var(--color-red-10);
}

.danger,
.danger > svg {
  color: var(--color-red);
}

.container {
  height: 100%;
  scrollbar-width: none;
  overflow-y: scroll;
}

.footer {
  width: 100%;
  padding: 1rem;
  text-align: end;
  border-top: var(--border-solid);
  background-color: var(--color-content);
  transition:
    border-color var(--transition),
    background-color var(--transition);
}

.link:link,
.link:visited {
  display: inline-block;
  padding: 0.75rem 1rem;
  position: relative;
  font-size: 0.75rem;
  font-weight: 500;
  text-align: end;
  border: var(--border-solid);
  border-radius: 0.375rem;
  transition:
    color var(--transition),
    border-color var(--transition),
    background-color var(--transition);
  z-index: 5;
}

.link:hover,
.link:active {
  border-color: var(--color-border-medium);
  background-color: var(--color-content-sub-light);
}

@media screen and (max-width: 48rem) {
  .link:link,
  .link:visited {
    font-size: 0.6125rem;
  }

  .edit > span {
    display: none;
  }

  .header-action > .edit {
    width: 1.875rem;
    height: 1.875rem;
    padding: 0;
  }
}
