.card {
  padding: 1.25rem;
  position: relative;
  border: var(--border-solid);
  border-color: var(--color-primary-50);
  border-radius: 0.75rem;
  transition: border-color var(--transition);
  overflow: hidden;
  z-index: 1;
  animation: slideUp 0.55s ease;
}

@keyframes slideUp {
  from {
    transform: translateY(20%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  opacity: 1;
  background: linear-gradient(to bottom, oklch(100% 0 0), rgba(255, 185, 0, 0.075));
  transition: opacity var(--transition);
  z-index: -1;
}

.card::after {
  content: '';
  position: absolute;
  inset: 0;
  opacity: 0;
  background: linear-gradient(to bottom, oklch(21% 0.006 285.885), rgba(254, 154, 0, 0.075));
  transition: opacity var(--transition);
  z-index: -1;
}

:root[data-theme='dark'] .card::before {
  opacity: 0;
}

:root[data-theme='dark'] .card::after {
  opacity: 1;
}

.row--1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.category {
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  aspect-ratio: 1;
  border-radius: 0.375rem;
  background-color: var(--color-primary-15);
  transition: background-color var(--transition);
}

.badge-wrap {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 0.375rem;
  margin-bottom: 0.375rem;
}

.city,
.bookmark {
  padding: 0.325rem 0.7rem;
  font-size: 0.7rem;
  font-weight: 600;
  border: var(--border-solid);
  border-radius: 1000px;
  transition:
    color var(--transition),
    border-color var(--transition),
    background-color var(--transition);
}

.city {
  color: var(--color-orange);
  border-color: var(--color-orange-15);
  background-color: var(--color-orange-10);
}

.bookmark {
  color: var(--color-font-sub-dark);
  background-color: var(--color-content-sub-light-max);
}

.row--2 {
  margin: 1rem 0;
  padding-bottom: 1rem;
  border-bottom: var(--border-solid);
  transition: border-color var(--transition);
}

.title {
  margin-bottom: 0.5rem;
  font-size: 1.15rem;
  font-weight: 700;
  transition: color var(--transition);
}

.country {
  color: var(--color-font-sub-medium);
  font-size: 0.8rem;
  font-weight: 500;
  transition: color var(--transition);
}

.row--3 {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 0.5rem;
}

.btn {
  padding: 1rem 1rem;
  font-size: 0.8125rem;
  font-weight: 600;
  text-align: center;
  border: var(--border-solid);
  border-radius: 0.375rem;
  background-color: var(--color-content);
  transition:
    color var(--transition),
    border-color var(--transition),
    background-color var(--transition);
}

.btn:hover,
.btn:active {
  color: var(--color-primary-base);
  border-color: var(--color-primary-50);
}

.destination,
.destination:link,
.destination:visited {
  padding: 1rem 1rem;
  color: #fff;
  font-size: 0.8125rem;
  font-weight: 600;
  text-align: center;
  border-radius: 0.375rem;
  background-color: var(--color-primary-75);
  transition:
    color var(--transition),
    background-color var(--transition);
}

.destination:hover,
.destination:active {
  background-color: var(--color-primary-base);
}

@media screen and (max-width: 57.5rem) {
  .row--3 {
    grid-template-columns: 2.5fr 3fr;
  }
}

@media screen and (max-width: 52.5rem) {
  .title {
    font-size: 1rem;
  }

  .btn,
  .destination:link,
  .destination:visited {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 48rem) {
}
