.information {
  border: var(--border-solid);
  border-radius: 0.75rem;
  transition: border-color var(--transition);
  animation: slideUp 0.55s ease;
  overflow: hidden;
}

.information--tab {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tab:nth-child(1) {
  border-right: var(--border-solid);
  transition: border-color var(--transition);
}

.tab-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  font-size: 0.8125rem;
  font-weight: 500;
  text-align: center;
  border-bottom: var(--border-solid);
  background-color: var(--color-conent);
  transition:
    color var(--transition),
    font-weight var(--transition),
    border-color var(--transition),
    background-color var(--transition);
  cursor: pointer;
}

.information:has(*[data-type='tel']) .tab-header.active {
  color: var(--color-primary-dark);
}

.tab-header.active {
  font-weight: 600;
  background-color: var(--color-content-sub-light);
}

.tab-content {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  grid-column: 1 / -1;
  padding: 1.25rem;
  background-color: var(--color-copy);
  transition: background-color var(--transition);
}

.copy {
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  border-radius: 0.375rem;
  background-color: var(--color-copy-sub);
  transition:
    background-color var(--transition),
    transform var(--transition);
}

.copy:hover {
  background-color: var(--color-copy-sub-hover);
}

.copy:active {
  transform: scale(0.85);
}

.copy svg {
  color: #fff;
  opacity: 0.55;
}

.content {
  color: var(--color-copy-font);
  font-weight: 500;
  line-height: 1.5;
  transition: color var(--transition);
}

.highlight {
  display: inline-block;
  margin-right: 0.55rem;
  font-weight: 600;
  color: var(--color-primary-base);
}

@keyframes slideUp {
  from {
    transform: translateY(75%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 48rem) {
  .tab-header {
    font-size: 0.75rem;
  }

  .tab-content {
    font-size: 0.75rem;
  }

  .copy {
    width: 1.5rem;
  }

  .copy svg {
    width: 0.8125rem;
    height: 0.8125rem;
  }
}
