#article > *:not(:last-child) {
  margin-bottom: 1.5rem;
}

.action {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  animation: slideUp 0.55s ease;
}

.action > *,
.action > *:link,
.action > *:visited {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  padding: 1.15rem 1.75rem;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.4;
  border-radius: 0.5rem;
  transition:
    color var(--transition),
    border-color var(--transition),
    background-color var(--transition),
    transform var(--transition);
}

.action-secondary {
  border: var(--border-solid);
}

.action-primary,
.action-primary:link,
.action-primary:visited {
  color: #fff;
  background-color: var(--color-primary-base);
}

.action-primary:hover {
  background-color: var(--color-primary-dark);
  transform: translateY(-0.25rem);
}

.action-secondary:hover {
  border-color: var(--color-border-medium);
  background-color: var(--color-content-sub-light);
  transform: translateY(-0.25rem);
}

.action-secondary:active,
.action-primary:active {
  transform: translateY(-0.25rem) scale(0.925);
}

@keyframes slideUp {
  from {
    transform: translateY(75%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 48rem) {
  .action > *,
  .action > *:link,
  .action > *:visited {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 27.5rem) {
  .action {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .action > *,
  .action > *:link,
  .action > *:visited {
    justify-content: center;
  }
}

@media screen and (max-width: 25rem) {
  .action {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}
