.header {
  animation: slideUp 0.55s ease;
}

@keyframes slideUp {
  from {
    transform: translateY(75%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.emoji {
  display: block;
  margin-bottom: 0.875rem;
  font-size: 2.5rem;
}

.title {
  margin-bottom: 0.25rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
  transition: color var(--transition);
}

.city {
  color: var(--color-font-sub-medium);
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.4;
  transition: color var(--transition);
}

.badge-wrap {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-top: 0.75rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: var(--border-solid);
  transition: border-color var(--transition);
}

.badge {
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.75rem;
  color: var(--color-primary-dark);
  font-size: 0.75rem;
  font-weight: 600;
  border-radius: 1000px;
  background-color: var(--color-primary-15);
  transition:
    color var(--transition),
    background-color var(--transition);
}

.bookmark {
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.75rem;
  color: var(--color-primary-dark);
  font-size: 0.75rem;
  font-weight: 600;
  border: var(--border-solid);
  border-color: var(--color-primary-50);
  border-radius: 1000px;
  transition:
    color var(--transition),
    border-color var(--transition),
    box-shadow var(--transition);
}

.add {
  width: 1.5rem;
  border: var(--border-solid);
  aspect-ratio: 1;
  border-radius: 50%;
  transition: border-color var(--transition);
}

.add:hover {
  border-color: var(--color-primary-50);
}

.add:hover > svg {
  color: var(--color-primary-base);
}

.add > svg {
  width: 0.75rem;
  height: 0.75rem;
  color: var(--color-font-sub-medium);
}

@media screen and (max-width: 48rem) {
  .title {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 31.25rem) {
  .header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 0.625rem;
  }

  .emoji {
    grid-row: 1 / 3;
    margin: unset;
  }

  .title {
    grid-row: 1 / 2;
    margin: unset;
  }

  .city {
    grid-row: 2 / 3;
  }

  .badge-wrap {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    margin-top: 1rem;
    border: none;
    margin-bottom: unset;
    padding-bottom: unset;
  }
}
