#article {
  display: grid;
  grid-template-columns: 1fr 21.25rem;
  gap: 1rem;
}

.section--left,
.section--right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.map-wrap {
  border: var(--border-solid);
  border-radius: 0.75rem;
  box-shadow: var(--shadow);
  transition:
    border-color var(--transition),
    box-shadow var(--transition);
  animation: slideUp 0.55s ease;
  overflow: hidden;
}

@keyframes slideUp {
  from {
    transform: translateY(20%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.map {
  height: 24rem;
}

.map-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  font-size: 0.8125rem;
  background-color: var(--color-copy);
  transition: background-color var(--transition);
}

.map-action > p {
  color: var(--color-copy-font);
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1.5;
  transition: color var(--transition);
}

.map-action > span {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.map-action a:link,
.map-action a:visited {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  color: var(--color-copy-font);
  font-size: 0.75rem;
  font-weight: 400;
  text-decoration: underline;
  transition: color var(--transition);
}

.map-action a:hover,
.map-action a:active {
  text-decoration: none;
}

.map-action > a > svg {
  width: 0.75rem;
  height: 0.75rem;
}

.content {
  color: var(--color-copy-font);
  font-weight: 500;
  line-height: 1.5;
  transition: color var(--transition);
}

.highlight {
  display: inline-block;
  margin-right: 0.55rem;
  font-weight: 600;
  color: var(--color-primary-base);
}

@media screen and (max-width: 57.5rem) {
  #article {
    grid-template-columns: 1fr 20rem;
  }
}

@media screen and (max-width: 53.125rem) {
  .map-action p > span {
    display: none;
  }

  .map-action p {
    width: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    border-radius: 0.365rem;
    background-color: var(--color-copy-sub);
  }
}

@media screen and (max-width: 52.5rem) {
  #article {
    grid-template-columns: 1fr 18rem;
  }
}
