.video-row {
  padding: 1.25rem;
  border: var(--border-solid);
  border-color: var(--color-primary-50);
  border-radius: 0.75rem;
  box-shadow: var(--shadow);
  transition:
    border-color var(--transition),
    box-shadow var(--transition);
  animation: slideUp 0.55s ease;
}

.video-row.sub {
  border-color: var(--color-border);
}

@keyframes slideUp {
  from {
    transform: translateY(75%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.badge-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1.25rem;
}

.badge-wrap > span {
  width: max-content;
  display: inline-flex;
  align-items: center;
  gap: 0.35rem;
  padding: 0.5rem 0.75rem;
  font-size: 0.8rem;
  font-weight: 500;
  border: var(--border-solid);
  border-radius: 0.375rem;
  transition:
    color var(--transition),
    border-color var(--transition),
    background-color var(--transition);
  user-select: none;
}

.badge-wrap > .badge-primary {
  color: var(--color-primary-dark);
  border-color: var(--color-primary-25);
  background-color: var(--color-primary-5);
}

.badge-wrap > .badge-tag {
  border-color: var(--color-content-sub-medium);
  background-color: var(--color-content-sub-light);
}

.badge-wrap > span > span {
  color: var(--color-primary-base);
  font-size: 0.625rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  border: var(--border-solid);
  border-radius: 0.5rem;
  border-color: var(--color-content-sub-light);
  background-color: var(--color-content-sub-light-max);
  transition:
    border-color var(--transition),
    background-color var(--transition);
  cursor: pointer;
}

.row:hover {
  border-color: var(--color-primary-50);
  background-color: var(--color-primary-5);
}

.thumb {
  height: 3.75rem;
  display: block;
  aspect-ratio: 8 / 5;
  object-fit: cover;
  border-radius: 0.375rem;
}

.info-wrap {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.info-title {
  margin-bottom: 0.75rem;
  font-weight: 700;
  transition: color var(--transition);
}

.info-date {
  color: var(--color-font-sub-medium);
  font-size: 0.625rem;
  font-weight: 500;
  letter-spacing: 0.25px;
  transition: color var(--transition);
}

.timestamp {
  display: inline-flex;
  align-items: center;
  gap: 0.375rem;
  padding: 0.625rem 0.75rem;
  color: var(--color-primary-dark);
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.25px;
  border: var(--border-solid);
  border-color: var(--color-primary-25);
  border-radius: 0.375rem;
  background-color: var(--color-content);
  transition:
    color var(--transition),
    border-color var(--transition),
    background-color var(--transition);
}

.timestamp:hover {
  color: #fff;
  background-color: var(--color-primary-base);
  border-color: var(--color-primary-base);
}

.timestamp > span {
  color: var(--color-primary-base);
  font-size: 0.625rem;
  transition: color var(--transition);
}

.timestamp:hover > span {
  color: #fff;
}

.text {
  display: block;
  margin-top: 1.25rem;
  padding: 0 0.25rem;
  color: var(--color-font-sub-medium);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.15px;
  transition: color var(--transition);
}

@media screen and (max-width: 48rem) {
  .badge-wrap > span {
    font-size: 0.625rem;
  }

  .badge-wrap > span > span {
    font-size: 0.65rem;
  }

  .thumb {
    aspect-ratio: 1;
  }

  .info-title {
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
  }

  .timestamp {
    gap: 0.275rem;
    padding: 0.55rem 0.625rem;
    font-size: 0.55rem;
  }

  .timestamp > span {
    color: var(--color-primary-base);
    font-size: 0.5rem;
  }
}
