.list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.375rem;
  margin-bottom: 2rem;
  animation: slideUp 0.55s ease;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.list > li {
  width: fit-content;
}

.category {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.375rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 600;
  border: var(--border-solid);
  border-radius: 1000px;
  transition:
    color var(--transition),
    border-color var(--transition),
    background-color var(--transition);
}

.category:hover {
  border-color: var(--color-primary-25);
  background-color: var(--color-primary-15);
}

.category.active {
  color: #fff;
  border-color: var(--color-primary-base);
  background-color: var(--color-primary-base);
}

@media screen and (max-width: 48rem) {
  .category {
    font-size: 0.625rem;
  }
}
