#article {
  display: grid;
  grid-template-columns: 1fr 21.25rem;
  gap: 1rem;
}

.section--left,
.section--right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.map-wrap {
  border: var(--border-solid);
  border-radius: 0.75rem;
  transition: border-color var(--transition);
  animation: slideUp 0.55s ease;
  overflow: hidden;
}

@keyframes slideUp {
  from {
    transform: translateY(20%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.map {
  height: 24rem;
}

.map-action {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 1rem;
  font-size: 0.8125rem;
  background-color: var(--color-copy);
  transition: background-color var(--transition);
}

.map-action a:link,
.map-action a:visited {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  gap: 0.375rem;
  padding: 0.75rem 1rem;
  color: var(--color-copy-font);
  font-size: 0.75rem;
  font-weight: 600;
  border: var(--border-solid);
  border-radius: 0.5rem;
  border-color: var(--color-copy-border);
  transition:
    color var(--transition),
    border-color var(--transition);
}

.map-action a:hover,
.map-action a:active {
  border-color: var(--color-copy-border-light);
}

.content {
  color: var(--color-copy-font);
  font-weight: 500;
  line-height: 1.5;
  transition: color var(--transition);
}

.highlight {
  display: inline-block;
  margin-right: 0.55rem;
  font-weight: 600;
  color: var(--color-primary-base);
}

@media screen and (max-width: 57.5rem) {
  #article {
    grid-template-columns: 1fr 20rem;
  }
}

@media screen and (max-width: 52.5rem) {
  #article {
    grid-template-columns: 1fr 18rem;
  }
}
