#modal {
  z-index: 9999999999;
}

.backdrop {
  width: 100%;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 99999999;
}

.container {
  width: 90dvw;
  max-width: 40rem;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 1rem;
  box-shadow: var(--shadow);
  background-color: var(--color-content);
  transform: translate(-50%, -50%);
  transition:
    box-shadow var(--transition),
    background-color var(--transition);
  z-index: 9999999999;
}

.header,
.footer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 1.25rem;
  transition: border-color var(--transition);
}

.header {
  border-bottom: var(--border-solid);
}

.footer {
  justify-content: space-between;
  border-top: var(--border-solid);
}

.badge-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.badge-wrap > span {
  width: max-content;
  display: inline-flex;
  align-items: center;
  gap: 0.35rem;
  padding: 0.5rem 0.75rem;
  font-size: 0.8rem;
  font-weight: 500;
  border: var(--border-solid);
  border-radius: 0.375rem;
  transition:
    color var(--transition),
    border-color var(--transition),
    background-color var(--transition);
  user-select: none;
}

.badge-wrap > .badge-primary {
  color: var(--color-primary-dark);
  border-color: var(--color-primary-25);
  background-color: var(--color-primary-5);
}

.badge-wrap > span > span {
  color: var(--color-primary-base);
  font-size: 0.625rem;
}

.close {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  border-radius: 50%;
  background-color: var(--color-content-sub-light);
  transition: background-color var(--transition);
}

.close:hover {
  background-color: var(--color-content-sub-hover);
}

.close:hover svg {
  color: var(--color-font-sub-dark);
  background-color: var(--color-content-sub-hover);
}

.close svg {
  width: 1rem;
  height: 1rem;
  color: var(--color-font-sub-medium);
  transform: rotate(45deg);
}

.main > iframe {
  width: 100%;
  height: 100%;
  display: block;
  aspect-ratio: 16 / 9;
  border: none;
}

.title {
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.6;
  transition: color var(--transition);
}

.date {
  color: var(--color-font-sub-medium);
  font-size: 0.75rem;
  font-weight: 500;
  transition: color var(--transition);
}

@media screen and (max-width: 48rem) {
  .badge-wrap > span {
    font-size: 0.625rem;
  }

  .badge-wrap > span > span {
    font-size: 0.65rem;
  }

  .thumb {
    aspect-ratio: 1;
  }

  .info-title {
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
  }

  .timestamp {
    gap: 0.275rem;
    padding: 0.55rem 0.625rem;
    font-size: 0.55rem;
  }

  .timestamp > span {
    color: var(--color-primary-base);
    font-size: 0.5rem;
  }
}
