.container {
  padding: 1rem;
  border: var(--border-solid);
  border-radius: 0.75rem;
  box-shadow: var(--shadow);
  transition:
    border-color var(--transition),
    box-shadow var(--transition);
  animation: slideUp 0.55s ease;
}

@keyframes slideUp {
  from {
    transform: translateY(20%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.map {
  height: 28rem;
  border: var(--border-solid);
  border-radius: 0.75rem;
  transition: border-color var(--transition);
  animation: slideUp 0.55s ease;
  overflow: hidden;
}

.action {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;
  margin-top: calc(1.5rem / 2);
}

.action a:link,
.action a:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  font-size: 0.75rem;
  font-weight: 600;
  border: var(--border-solid);
  border-radius: 0.5rem;
  transition:
    color var(--transition),
    border-color var(--transition),
    background-color var(--transition);
}

.action a:hover,
.action a:active {
  border-color: var(--color-primary-50);
  background-color: var(--color-primary-15);
}

@keyframes slideUp {
  from {
    transform: translateY(20%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 48rem) {
  .map {
    height: 20rem;
  }
}
