.row {
  display: grid;
  grid-template-columns: 22rem 1fr;
  gap: 1rem;
}

.row:not(:last-child) {
  margin-bottom: 1rem;
}

.col--left,
.col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.col--right {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (max-width: 61.25rem) {
  .row {
    grid-template-columns: 18rem 1fr;
  }
}

@media screen and (max-width: 51.25rem) {
  .row {
    grid-template-columns: 16.25rem 1fr;
  }
}
