.card {
  border: var(--border-solid);
  border-radius: 0.75rem;
  background-color: var(--color-content);
  transition:
    border-color var(--transition),
    background-color var(--transition);
  overflow: hidden;
}

.video iframe {
  width: 100%;
  height: 1000%;
  display: block;
  aspect-ratio: 16 / 9;
}

.content {
  padding: 1.25rem;
}
