.episode:link,
.episode:visited {
  height: 100%;
  display: block;
  border: var(--border-solid);
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  transition:
    border-color var(--transition),
    box-shadow var(--transition),
    transform var(--transition);
  overflow: hidden;
}

.episode:hover,
.episode:active {
  border-color: var(--color-border-medium);
  box-shadow: var(--shadow-hover);
}

.episode:hover {
  transform: scale(1.025);
}

.episode:active {
  transform: scale(0.985);
}

.episode > img {
  width: 100%;
  display: block;
  object-fit: cover;
  aspect-ratio: 2 / 1;
}

.content {
  padding: 1rem 1.25rem;
}

.title {
  padding-bottom: 1rem;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.35px;
  border-bottom: var(--border-solid);
  transition:
    color var(--transition),
    border-color var(--transition);
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 0;
  padding-bottom: 0;
}

.date {
  color: var(--color-font-sub-medium);
  font-weight: 7500;
  font-size: 0.675rem;
}

.total {
  padding: 0.375rem 0.5rem;
  color: var(--color-font-sub-dark);
  font-weight: 600;
  font-size: 0.675rem;
  border-radius: 1000px;
  background-color: var(--color-primary-15);
  transition:
    color var(--transition),
    background-color var(--transition);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

@media screen and (max-width: 40rem) {
  .title {
    font-size: 0.8125rem;
  }

  .date,
  .total {
    font-size: 0.55rem;
  }
}
