.episode:link,
.episode:visited {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem;
  border: var(--border-solid);
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  transition:
    border-color var(--transition),
    box-shadow var(--transition),
    transform var(--transition);
}

.episode:hover,
.episode:active {
  border-color: var(--color-border-medium);
  box-shadow: var(--shadow-hover);
}

.episode:hover {
  transform: scale(1.025);
}

.episode:active {
  transform: scale(0.985);
}

.thumb {
  height: 5rem;
  display: block;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 0.5rem;
}

.column {
  width: 100%;
}

.title {
  margin-bottom: 0.75rem;
  font-size: 0.9rem;
  font-weight: 700;
  transition: color var(--transition);
}

.title > span {
  line-height: 1.3;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.date {
  color: var(--color-font-sub-medium);
  font-weight: 500;
  font-size: 0.675rem;
}

.total {
  padding: 0.375rem 0.5rem;
  color: var(--color-font-sub-dark);
  font-weight: 600;
  font-size: 0.675rem;
  border-radius: 1000px;
  background-color: var(--color-primary-15);
  transition:
    color var(--transition),
    background-color var(--transition);
}

@media screen and (max-width: 48rem) {
  .total {
    font-size: 0.55rem;
  }
}

@media screen and (max-width: 40rem) {
  .title {
    font-size: 0.8125rem;
  }

  .date,
  .total {
    font-size: 0.55rem;
  }
}
