.list:not(:last-child) {
  margin-bottom: 0.625rem;
}

.item {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  align-items: center;
  gap: 0.625rem;
  padding: 1rem;
  position: relative;
  border: var(--border-solid);
  border-radius: 0.375rem;
  background-color: var(--color-content);
  transition:
    border-color var(--transition),
    background-color var(--transition);
  overflow: hidden;
  z-index: 1;
}

.item::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  inset: 0;
  background-color: var(--color-primary-15);
  transition:
    background-color var(--transition),
    opacity var(--transition);
  opacity: 0;
  z-index: -1;
}

.item:hover,
.item.active {
  border-color: var(--color-primary-50);
}

.item:hover::after,
.item.active::after {
  opacity: 1;
}

.order {
  width: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  color: var(--color-font-sub-dark);
  font-size: 0.625rem;
  font-weight: 800;
  aspect-ratio: 1;
  border: var(--border-solid);
  border-radius: 50%;
  background-color: var(--color-content-sub-light);
  transition:
    color var(--transition),
    border-color var(--transition),
    background-color var(--transition);
}

.item:hover .order,
.item.active .order {
  color: #fff;
  border-color: var(--color-primary-base);
  background-color: var(--color-primary-base);
}

.emoji {
  font-size: 1.125rem;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.15rem;
}

.name {
  font-size: 0.8125rem;
  font-weight: 700;
  transition: color var(--transition);
}

.address {
  color: var(--color-font-sub-medium);
  font-size: 0.65rem;
  font-weight: 500;
  transition: color var(--transition);
}

.timestamp {
  padding: 0.375rem 0.45rem;
  font-size: 0.675rem;
  font-weight: 600;
  border: var(--border-solid);
  border-radius: 0.25rem;
  background-color: var(--color-content-sub-light);
  transition:
    color var(--transition),
    border-color var(--transition),
    background-color var(--transition);
}

.item:hover .timestamp {
  background-color: var(--color-content);
}

.item:hover .timestamp:hover {
  color: #fff;
  border-color: var(--color-primary-base);
  background-color: var(--color-primary-base);
}

@media screen and (max-width: 61.25rem) {
  .item {
    grid-template-columns: auto 1fr auto;
    gap: 0.625rem;
  }

  .order {
    display: none;
  }

  .name {
    font-size: 0.75rem;
  }

  .timestamp {
    font-size: 0.575rem;
  }
}
