.card {
  position: relative;
  border: var(--border-solid);
  border-radius: 0.75rem;
  border-color: var(--color-primary-50);
  box-shadow: var(--shadow);
  background-color: var(--color-content);
  transition:
    border-color var(--transition),
    box-shadow var(--transition),
    background-color var(--transition);
  animation: slideUp 0.55s ease;
  overflow: hidden;
  z-index: 1;
}

@keyframes slideUp {
  from {
    transform: translateY(25%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.content::before {
  content: '';
  position: absolute;
  inset: 0;
  opacity: 1;
  background: linear-gradient(to bottom, oklch(100% 0 0), rgba(255, 185, 0, 0.075));
  transition: opacity var(--transition);
  z-index: -1;
}

.content::after {
  content: '';
  position: absolute;
  inset: 0;
  opacity: 0;
  background: linear-gradient(to bottom, oklch(21% 0.006 285.885), rgba(254, 154, 0, 0.075));
  transition: opacity var(--transition);
  z-index: -1;
}

:root[data-theme='dark'] .content::before {
  opacity: 0;
}

:root[data-theme='dark'] .content::after {
  opacity: 1;
}

.video iframe {
  width: 100%;
  height: 1000%;
  display: block;
  border: none;
  aspect-ratio: 16 / 9;
}

.content {
  padding: 1.25rem;
  position: relative;
  border-top: var(--border-solid);
  transition: border-color var(--transition);
  overflow: hidden;
  z-index: 1;
}

.content {
  /* display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem; */
}

.pill-row {
  margin-bottom: 1rem;
}

.pill-row > ul {
  display: flex;
  align-items: center;
  gap: 0.325rem;
  /* padding: 1rem 1.25rem; */
}

.emoji,
.pill {
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.35rem 0.5rem;
  color: var(--color-orange);
  font-size: 0.675rem;
  font-weight: 700;
  border: var(--border-solid);
  border-radius: 0.25rem;
  background-color: var(--color-content);
  transition:
    color var(--transition),
    border-color var(--transition),
    background-color var(--transition);
}

.emoji {
  padding: 0;
  font-size: 1rem;
  aspect-ratio: 1;
  border-color: var(--color-orange-15);
  background-color: var(--color-orange-10);
}

/* .emoji {
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  aspect-ratio: 1;
  border-radius: 0.375rem;
  background-color: var(--color-primary-25);
  transition: background-color var(--transition);
} */

.title {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.8;
  transition: color var(--transition);
}

.date {
  width: fit-content;
  display: block;
  margin-left: auto;
  padding: 0.275rem 0.5rem;
  color: var(--color-font-sub-medium);
  font-size: 0.6rem;
  font-weight: 600;
  text-align: end;
  border: var(--border-solid);
  border-radius: 1000px;
  background-color: var(--color-content-sub-light-max);
  transition:
    color var(--transition),
    border-color var(--transition),
    background-color var(--transition);
}

@media screen and (max-width: 61.25rem) {
  .title {
    font-size: 0.875rem;
  }
}
