.list-title {
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  align-items: center;
  gap: 0.375rem;
  margin-bottom: 1rem;
  color: var(--color-font-sub-medium);
  font-size: 0.625rem;
  font-weight: 700;
  transition: color var(--transition);
}

.bull {
  font-size: 0.5rem;
}

.divider {
  width: 100%;
  height: 1px;
  display: block;
  background-color: var(--color-font-sub-light);
  transition: background-color var(--transition);
}
