.statistics {
  padding: 1.5rem 0;
  border: var(--border-solid);
  border-radius: 0.75rem;
  box-shadow: var(--shadow);
  background-color: var(--color-content-sub-light-max);
  transition:
    border-color var(--transition),
    box-shadow var(--transition),
    background-color var(--transition);
  animation: slideUp 0.55s ease;
}

@keyframes slideUp {
  from {
    transform: translateY(75%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  transition: border-color var(--transition);
}

.col:not(:last-child) {
  border-right: var(--border-solid);
}

.count {
  color: var(--color-primary-base);
  font-size: 1.25rem;
  font-weight: 700;
  transition: color var(--transition);
}

.label {
  color: var(--color-font-sub-medium);
  font-size: 0.75rem;
  font-weight: 600;
  transition: color var(--transition);
}
