.map {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-column: 1 / -1;
  border: var(--border-solid);
  border-radius: 0.75rem;
  box-shadow: var(--shadow);
  transition:
    border-color var(--transition),
    box-shadow var(--transition);
  animation: slideUp 0.55s ease;
  overflow: hidden;
}

@keyframes slideUp {
  from {
    transform: translateY(25%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.header {
  padding: 1rem;
  border-bottom: var(--border-solid);
  background-color: var(--color-content-sub-light-max);
  transition:
    border-color var(--transition),
    background-color var(--transition);
}

.title {
  color: var(--color-font-sub-dark);
  font-size: 0.75rem;
  font-weight: 700;
  transition: color var(--transition);
}

.main {
  height: 100%;
}

.footer {
  padding: 1rem;
  border-top: var(--border-solid);
  transition: border-color var(--transition);
}

.footer:has(.location) {
  display: grid;
  grid-template-columns: 8rem 1fr;
  align-items: center;
  gap: 0.5rem;
}

.location:link,
.location:visited,
.link:link,
.link:visited {
  display: block;
  padding: 0.8125rem 1rem;
  font-size: 0.75rem;
  font-weight: 700;
  text-align: center;
  border: var(--border-solid);
  border-radius: 0.45rem;
  transition:
    color var(--transition),
    border-color var(--transition),
    background-color var(--transition);
}

.link:hover,
.link:active {
  border-color: var(--color-border-medium);
  background-color: var(--color-content-sub-light);
}

.location:link,
.location:visited {
  color: #fff;
  border-color: var(--color-primary-base);
  background-color: var(--color-primary-base);
}

.location:hover,
.location:active {
  border-color: var(--color-primary-dark);
  background-color: var(--color-primary-dark);
}
