#main {
  width: var(--width);
  min-height: calc(100dvh - 4.625rem - 5.75rem - 3.5rem * 2);
  margin: 3.5rem auto;
  position: relative;
}

@media screen and (max-width: 68rem) {
  #main {
    width: 100%;
    max-width: var(--width);
    padding: 0 2rem;
  }
}

@media screen and (max-width: 48rem) {
  #main {
    max-width: 40rem;
    margin: 2rem auto;
    padding: 0 1.25rem;
  }
}
