.back {
  display: inline-flex;
  align-items: center;
  gap: 0.375rem;
  margin-bottom: 2rem;
  padding: 0.625rem 0.75rem;
  border-radius: 1000px;
  background-color: var(--color-content-sub-light);
  transition:
    background-color var(--transition),
    transform var(--transition);
}

.back:hover {
  background-color: var(--color-content-sub-hover);
  transform: scale(1.035);
}

.back:active {
  transform: scale(0.965);
}

.back > svg {
  width: 0.625rem;
  height: 0.625rem;
  color: var(--color-font-sub-dark);
}

.back > span {
  color: var(--color-font-sub-dark);
  font-weight: 700;
  font-size: 0.75rem;
  transition: color var(--transition);
}

@media screen and (max-width: 48rem) {
  .back {
    margin-bottom: 1.5rem;
    padding: 0.55rem 0.625rem;
    font-size: 0.625rem;
  }

  .back > svg {
    width: 0.625rem;
    height: 0.625rem;
    color: var(--color-font-sub-dark);
  }

  .back > span {
    font-size: 0.625rem;
  }
}
