.title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.4;
  transition: color var(--transition);
}

.text {
  display: block;
  margin-top: 0.25rem;
  margin-bottom: 1.25rem;
  padding: 0 0.25rem;
  padding-bottom: 1.25rem;
  font-size: 0.8125rem;
  line-height: 1.6;
  border-bottom: var(--border-solid);
  border-color: var(--color-border-light);
  transition:
    color var(--transition),
    border-color var(--transition);
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.25rem;
  padding: 1rem;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: var(--color-content-sub-light-max);
  transition: background-color var(--transition);
  z-index: 9;
}

.sort-wrap {
  position: relative;
}

.sort-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.625rem 1rem;
  font-size: 0.75rem;
  font-weight: 700;
  border: var(--border-solid);
  border-radius: 0.375rem;
  background-color: var(--color-content);
  transition:
    color var(--transition),
    border-color var(--transition),
    background-color var(--transition);
}

.sort-btn svg {
  width: 0.75rem;
  height: 0.75rem;
  color: var(--color-font-sub-medium);
}

.sort-btn.active svg {
  transform: rotate(180deg);
}

.sort-list {
  padding: 0.5rem;
  position: absolute;
  top: calc(100% + 0.5rem);
  border: var(--border-solid);
  border-radius: 0.375rem;
  background-color: var(--color-content);
  transition:
    border-color var(--transition),
    background-color var(--transition);
  z-index: 9;
}

.sort-list > li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.sort-option {
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  font-weight: 600;
  border-radius: 0.25rem;
  transition:
    color var(--transition),
    background-color var(--transition);
}

.sort-option.active {
  background-color: var(--color-content-sub-light);
}

.sort-option:hover {
  background-color: var(--color-content-sub-light-max);
}

.create {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.375rem;
  margin-left: auto;
  padding: 0.375rem 0.5rem;
  color: var(--color-font-sub-dark);
  font-size: 0.75rem;
  font-weight: 500;
  border: var(--border-solid);
  border-color: var(--color-border-light);
  border-radius: 1000px;
  background-color: var(--color-content-sub-light);
  transition:
    color var(--transition),
    border-color var(--transition),
    background-color var(--transition);
}

.create:hover {
  background-color: var(--color-content-sub-medium);
}

.create:hover > span {
  background-color: var(--color-content-sub-light);
}

.create > span {
  width: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color-content-sub-medium);
  transition:
    color var(--transition),
    background-color var(--transition);
}

.create svg {
  width: 0.75rem;
  height: 0.75rem;
}

.list {
  display: grid;
  grid-template-rows: auto 1fr;
  border: var(--border-solid);
  border-color: var(--color-content-sub-light);
  border-radius: 0.45rem;
  background-color: var(--color-content-sub-light-max);
  transition:
    border-color var(--transition),
    background-color var(--transition);
  scrollbar-width: none;
  overflow-y: scroll;
}

.list-content {
  padding: 1rem;
  padding-top: 0;
}

.list-content > li:not(:last-child) {
  margin-bottom: 0.75rem;
}

.folder {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 1rem;
  border: var(--border-solid);
  border-radius: 0.375rem;
  background-color: var(--color-content);
  transition:
    border-color var(--transition),
    box-shadow var(--transition),
    background-color var(--transition);
}

.folder.active {
  border-color: var(--color-primary-50);
  box-shadow: var(--shadow-primary);
}

.folder.notallowed {
  cursor: not-allowed;
  opacity: 0.5;
}

.folder-title--wrap {
  text-align: start;
}

.folder-title {
  font-weight: 700;
  transition: color var(--transition);
}

.folder-date {
  color: var(--color-font-sub-medium);
  font-size: 0.625rem;
  font-weight: 500;
  letter-spacing: 0.25px;
  transition: color var(--transition);
}

.icon svg {
  width: 1.75rem;
  height: 1.75rem;
}

.action {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;
  margin-top: 1.25rem;
}

.action > button {
  padding: 1rem 1rem;
  font-size: 0.75rem;
  font-weight: 600;
  border: var(--border-solid);
  border-radius: 0.5rem;
  transition:
    color var(--transition),
    border-color var(--transition),
    background-color var(--transition),
    opacity var(--transition);
}

button.primary-btn {
  color: #fff;
  border-color: var(--color-primary-base);
  background-color: var(--color-primary-base);
}

button.primary-btn.disabled {
  cursor: not-allowed;
  opacity: 0.45;
}

button.primary-btn:hover {
  border-color: var(--color-primary-dark);
  background-color: var(--color-primary-dark);
}

button.primary-btn.disabled:hover {
  border-color: var(--color-primary-base);
  background-color: var(--color-primary-base);
}

button.secondary-btn:hover {
  border-color: var(--color-border-medium);
}

@media screen and (max-width: 48rem) {
  .title {
    font-size: 0.875rem;
  }

  .text {
    margin-bottom: 1.25rem;
    font-size: 0.625rem;
  }

  .folder-title {
    font-size: 0.8125rem;
  }
}
