.comment {
  padding: 1.25rem;
  border: var(--border-solid);
  border-radius: 0.75rem;
  transition: border-color var(--transition);
  animation: slideUp 0.55s ease;
}

@keyframes slideUp {
  from {
    transform: translateY(20%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
