.form {
  max-width: 40rem;
  margin: 0 auto;
  animation: slideUp 0.75s ease;
}

@keyframes slideUp {
  from {
    transform: translateY(20%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 2.5rem;
  position: relative;
}

.row > input,
.row > textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 0.75rem;
  border: var(--border-solid);
  box-shadow: var(--shadow);
  transition:
    color var(--transition),
    border-color var(--transition),
    box-shadow var(--transition);
}

.row > textarea {
  height: 9.25rem;
  line-height: 1.7;
}

.row > input::placeholder,
.row > textarea::placeholder {
  color: var(--color-font-sub-medium);
  transition: color var(--transition);
}

.row > input:focus,
.row > textarea:focus {
  border-color: var(--color-primary-50);
  box-shadow: var(--shadow-primary);
}

.row > label {
  font-weight: 600;
  transition: color var(--transition);
}

.required {
  color: var(--color-red);
}

.type {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.75rem;
  border: var(--border-solid);
  box-shadow: var(--shadow);
  transition:
    color var(--transition),
    border-color var(--transition),
    box-shadow var(--transition);
}

.type.type-error {
  border-color: var(--color-red);
  box-shadow: var(--shadow-red);
}

.type.default {
  color: var(--color-font-sub-medium);
}

.type.active {
  border-color: var(--color-primary-50);
  box-shadow: var(--shadow-primary);
}

.type.active > svg {
  color: var(--color-primary-base);
  transform: rotate(180deg);
}

.optional {
  color: var(--color-font-sub-medium);
  font-weight: 400;
}

.submit {
  width: 100%;
  display: block;
  padding: 1rem;
  color: #fff;
  font-weight: 700;
  border-radius: 0.75rem;
  box-shadow: var(--shadow);
  background-color: var(--color-primary-base);
  transition:
    color var(--transition),
    box-shadow var(--transition),
    background-color var(--transition),
    transform var(--transition);
}

.submit:hover {
  box-shadow: var(--shadow-primary);
  background-color: var(--color-primary-dark);
}

.submit:active {
  transform: scale(0.975);
}

.list {
  width: 100%;
  padding: 0.75rem;
  position: absolute;
  top: calc(100% + 1rem);
  border: var(--border-solid);
  border-radius: 0.75rem;
  box-shadow: var(--shadow);
  background-color: var(--color-content);
  z-index: 9;
}

.option {
  width: 100%;
  display: block;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  text-align: start;
  transition:
    color var(--transition),
    background-color var(--transition);
}

.list > li:not(:last-child) {
  margin-bottom: 0.375rem;
}

.option:hover {
  background-color: var(--color-content-sub-light);
}

input.error,
input.error:focus,
textarea.error,
textarea.error:focus {
  border-color: var(--color-red);
}

input.error:focus {
  box-shadow: var(--shadow-red);
}

.error-msg {
  color: var(--color-red);
  font-size: 0.75rem;
  transition: color var(--transition);
}

@media screen and (max-width: 48rem) {
  .row {
    margin-bottom: 1rem;
  }
}
