#filter {
  max-height: calc(100dvh - 2.5rem - 2.25rem);
  position: absolute;
  top: calc(2.5rem + 2.25rem / 2);
  right: 0;
  scrollbar-width: none;
  overflow-y: scroll;
  z-index: 98;
}

.wrap {
  width: 20rem;
  height: 100%;
  padding: 1.75rem;
  border: var(--border-solid);
  border-radius: 0.75rem;
  box-shadow: var(--shadow);
  background-color: var(--color-content-sub-light-max);
  transition:
    border-color var(--transition),
    box-shadow var(--transition),
    background-color var(--transition);
  z-index: 98;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.main-title {
  font-weight: 700;
  transition: color var(--transition);
}

.clear {
  font-size: 0.7rem;
  font-weight: 500;
  padding: 0.5rem 0.625rem;
  border-radius: 0.375rem;
  background-color: var(--color-content-sub-light);
  transition:
    color var(--transition),
    background-color var(--transition),
    transform var(--transition);
}

.clear:hover {
  background-color: var(--color-content-sub-hover);
}

.clear:active {
  transform: scale(0.925);
}

.row:not(:last-child) {
  margin-bottom: 2.5rem;
}

.list-title {
  margin-bottom: 0.75rem;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.4;
  transition: color var(--transition);
}

.country-list {
  display: flex;
  align-items: center;
  gap: 0.255rem;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  overflow-x: auto;
}

.city-list {
  display: flex;
  align-items: center;
  gap: 0.255rem;
  flex-wrap: wrap;
}

@media screen and (max-width: 40rem) {
  #filter {
    top: calc(2.5rem + 0.5rem);
    right: 1.25rem;
  }

  .wrap {
    width: 16rem;
  }
}
