.item {
  padding: 1rem;
  border: var(--border-solid);
  border-radius: 0.425rem;
  background-color: var(--color-content);
  transition:
    border-color var(--transition),
    background-color var(--transition);
}

.item:not(:last-child) {
  margin-bottom: 0.625rem;
}

.content {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.6;
  white-space: pre-wrap;
  transition: color var(--transition);
}

.action {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.375rem;
}

.date {
  color: var(--color-font-sub-dark);
  font-size: 0.625rem;
  transition: color var(--transition);
}

.action > button > svg {
  width: 0.75rem;
  height: 0.75rem;
  color: var(--color-font-sub-dark);
}

.modify {
  margin-left: auto;
}

.action > .modify:hover > svg {
  color: var(--color-primary-base);
}

.action > .danger:hover > svg {
  color: var(--color-red);
}
