.memo {
  padding: 1.25rem;
  border: var(--border-solid);
  border-radius: 0.75rem;
  box-shadow: var(--shadow);
  transition:
    border-color var(--transition),
    box-shadow var(--transition);
  animation: slideUp 0.55s ease;
}

.memo:has(.list) {
  max-height: 25rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.title {
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  align-items: center;
  gap: 0.375rem;
  margin-top: 1.25rem;
  color: var(--color-font-sub-medium);
  font-size: 0.625rem;
  font-weight: 700;
  transition: color var(--transition);
}

.bull {
  font-size: 0.5rem;
}

.divider {
  width: 100%;
  height: 1px;
  display: block;
  background-color: var(--color-font-sub-light);
  transition: background-color var(--transition);
}

.list {
  margin-top: 1.25rem;
  padding: 0.75rem;
  border: var(--border-solid);
  border-radius: 0.5rem;
  background-color: var(--color-content-sub-light-max);
  transition:
    border-color var(--transition),
    background-color var(--transition);
  scrollbar-width: none;
  overflow-y: scroll;
}

@keyframes slideUp {
  from {
    transform: translateY(20%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
