.btn {
  width: 1.75rem;
  height: 1.75rem;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.375rem;
  background-color: transparent;
  transition: background-color var(--transition);
}

.btn svg {
  color: var(--color-sub-font);
}

.btn.active svg {
  transform: rotate(90deg);
}

.btn:hover,
.btn.active {
  background-color: var(--color-content-sub-light);
}

.btn:active {
  background-color: var(--color-content-sub-hover);
}

@media screen and (max-width: 57.5rem) {
  .btn {
    display: flex;
  }
}

@media screen and (max-width: 48rem) {
  .btn > svg {
    width: 0.8125rem;
    height: 0.8125rem;
  }
}
