#map {
  height: 36rem;
  display: grid;
  grid-template-rows: auto 1fr;
  border: var(--border-solid);
  border-radius: 0.75rem;
  box-shadow: var(--shadow);
  transition:
    border-color var(--transition),
    box-shadow var(--transition);
  animation: slideUp 0.75s ease;
  overflow: hidden;
}

.header {
  grid-column: 1 / -1;
  padding: 1rem;
  border-bottom: var(--border-solid);
  background-color: var(--color-content);
  transition:
    border-color var(--transition),
    background-color var(--transition);
}

.main {
  display: grid;
  grid-template-columns: 16.25rem 1fr;
  position: relative;
  overflow-y: scroll;
}

@keyframes slideUp {
  from {
    transform: translateY(20%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 50rem) {
  #map {
    height: 28rem;
  }

  .main {
    grid-template-columns: 14rem 1fr;
  }

  .main > div:nth-child(1) {
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

@media screen and (max-width: 48.75rem) {
  .main {
    grid-template-columns: 1fr;
  }
}
