#nav {
  display: flex;
  align-items: center;
}

.list {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.list:not(:last-child) {
  margin-right: 0.75rem;
  padding-right: 0.75rem;
  border-right: var(--border-solid);
  transition: border-color var(--transition);
}

@media screen and (max-width: 57.5rem) {
  .list:not(:last-child) {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
  }

  .list:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 46.25rem) {
  .list {
    display: none;
  }
}
