.block {
  margin: 2rem 0;
  padding: 1.25rem;
  padding-left: 2.25rem;
  border: var(--border-solid);
  border-radius: 0.75rem;
  box-shadow: var(--shadow);
  transition:
    border-color var(--transition),
    box-shadow var(--transition),
    background-color var(--transition);
  animation: slideUp 0.55s ease;
}

.notice {
  background-color: var(--color-content-sub-light-max);
}

@keyframes slideUp {
  from {
    transform: translateY(60%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
