#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
  animation: slideUp 0.55s ease;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

#pagination button {
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-font-sub-dark);
  font-size: 0.75rem;
  font-weight: 500;
  border: var(--border-solid);
  border-radius: 50%;
  aspect-ratio: 1;
  transition:
    color var(--transition),
    border-color var(--transition),
    background-color var(--transition);
}

#pagination button:hover {
  border-color: var(--color-primary-25);
  background-color: var(--color-primary-15);
}

.list {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.arrow {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

#pagination .btn.active {
  color: #fff;
  font-weight: 700;
  border: 1px solid var(--color-primary-base);
  border-radius: 50%;
  background-color: var(--color-primary-base);
}

.arrow button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn:disabled {
  cursor: not-allowed;
}
