#preview {
  max-width: 32rem;
  height: calc(95dvh - var(--header-height) - 2.5rem * 2);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto;
}

.title {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--font-bebas);
  text-align: center;
  transition: color var(--transition);
}

.title > span {
  color: var(--color-primary-base);
}

.text {
  font-weight: 500;
  text-align: center;
  line-height: 1.4;
  transition: color var(--transition);
}
