#image {
  width: 32rem;
  height: 90%;
  /* animation: slideUp 0.55s ease; */
}

@keyframes slideUp {
  from {
    transform: translateY(20%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.wrapper {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  border: var(--border-solid);
  box-shadow:
    0 12px 48px rgba(0, 0, 0, 0.025),
    0 2px 12px rgba(0, 0, 0, 0.055);
  border-radius: 1.25rem;
  transition:
    border-color var(--transition),
    box-shadow var(--transition);
  overflow: hidden;
}

:root[data-theme='dark'] {
  box-shadow:
    0 12px 48px rgba(0, 0, 0, 1),
    0 2px 12px rgba(0, 0, 0, 1);
}

.header {
  padding: 1.25rem 1.5rem;
  border-bottom: var(--border-solid);
  background-color: var(--color-zinc-900);
  transition:
    border-color var(--transition),
    background-color var(--transition);
}

.header > *[id*='logo'] {
  width: fit-content;
  color: #fcfcfc;
  user-select: none;
}

.header > *[id*='logo']:hover,
.header > *[id*='logo']:active {
  transform: unset !important;
}

.main {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
}

.title-section {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.25rem 1.5rem;
  border-bottom: var(--border-solid);
  background-color: var(--color-content);
  transition:
    border-color var(--transition),
    background-color var(--transition);
}

.icon svg {
  width: 2rem;
  height: 2rem;
}

.title {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.7;
  margin-bottom: 0.25rem;
  transition: color var(--transition);
}

.title-bottom {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.date,
.bull,
.count {
  color: var(--color-font-sub-medium);
  font-size: 0.675rem;
  font-weight: 500;
  transition: color var(--transition);
}

.location-section {
  height: 100%;
  scrollbar-width: none;
  overflow-y: scroll;
}

.locations {
  overflow-y: scroll;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 1.5rem;
  border-top: var(--border-solid);
  background-color: var(--color-content-sub-light);
  transition:
    border-color var(--transition),
    background-color var(--transition);
}

.copyright:link,
.copyright:visited,
.hiseulgimap:link,
.hiseulgimap:visited {
  font-size: 0.65rem;
  font-weight: 500;
  transition: color var(--transition);
}

.copyright span {
  font-weight: 700;
}

.hiseulgimap:link,
.hiseulgimap:visited {
  font-weight: 600;
}

.copyright:link,
.copyright:visited {
  color: var(--color-font-sub-medium);
}

.hiseulgimap:link,
.hiseulgimap:visited {
  color: var(--color-primary-dark);
}

@media screen and (max-width: 34.5rem) {
  #image {
    width: 100%;
    max-width: 32rem;
  }

  .title {
    font-size: 0.8125rem;
  }

  .copyright:link,
  .copyright:visited,
  .hiseulgimap:link,
  .hiseulgimap:visited {
    font-size: 0.575rem;
  }
}

@media screen and (max-width: 23.75rem) {
  .hiseulgimap {
    display: none;
  }
}
