.list {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 1.75rem;
  position: relative;
  border-bottom: var(--border-solid);
  background-color: var(--color-content-sub-light-max);
  transition:
    border-color var(--transition),
    background-color var(--transition);
  cursor: pointer;
}

.drag {
  display: flex;
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  opacity: 0.65;
}

.drag svg {
  width: 0.8rem;
  height: 0.8rem;
  color: var(--color-font-sub-medium);
  transform: rotate(90deg);
}

.drag svg:nth-child(2) {
  margin-left: -0.55rem;
}

.emoji {
  width: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  aspect-ratio: 1;
  border-radius: 0.375rem;
  background-color: var(--color-primary-25);
  transition: background-color var(--transition);
}

.name {
  width: 100%;
  display: block;
  margin-bottom: 0.25rem;
  font-size: 0.8125rem;
  font-weight: 600;
  transition: color var(--transition);
}

.location {
  color: var(--color-font-sub-dark);
  font-size: 0.75rem;
  font-weight: 500;
  transition: color var(--transition);
}

.category {
  flex: 0 0 auto;
  margin-left: auto;
  padding: 0.375rem 0.5rem;
  color: var(--color-font-sub-dark);
  font-size: 0.675rem;
  font-weight: 600;
  border: var(--border-solid);
  border-radius: 1000px;
  background-color: var(--color-content-sub-light);
  transition:
    color var(--transition),
    border-color var(--transition),
    background-color var(--transition);
}

@media screen and (max-width: 48rem) {
  .list {
    gap: 0.5rem;
  }

  .emoji {
    width: 1.75rem;
    font-size: 1rem;
  }

  .name {
    font-size: 0.675rem;
  }

  .location {
    font-size: 0.675rem;
  }

  .category {
    font-size: 0.55rem;
  }
}
