.item,
.item:link,
.item:visited {
  width: 100%;
  height: 100%;
  display: block;
  padding: 1.25rem;
  position: relative;
  border: var(--border-solid);
  border-radius: 0.625rem;
  box-shadow: var(--shadow);
  background-color: var(--color-content);
  transition:
    border-color var(--transition),
    box-shadow var(--transition),
    background-color var(--transition),
    transform var(--transition);
  overflow: hidden;
  z-index: 1;
}

.item::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  inset: 0;
  background-color: var(--color-primary-5);
  transition:
    background-color var(--transition),
    opacity var(--transition);
  z-index: -1;
  opacity: 0;
}

.item:hover::after {
  opacity: 1;
}

.item:hover,
.item:active {
  border-color: var(--color-primary-50);
  box-shadow: var(--shadow-primary);
}

.item:hover {
  transform: scale(1.025);
}

.item:active {
  transform: scale(0.985);
}

.emoji {
  width: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  aspect-ratio: 1;
  border-radius: 0.375rem;
  background-color: var(--color-primary-25);
  transition:
    color var(--transition),
    background-color var(--transition);
}

.item:hover .emoji {
  background-color: var(--color-primary-50);
}

.title {
  margin-bottom: 0.125rem;
  font-weight: 700;
  transition: color var(--transition);
}

.location {
  display: block;
  margin-bottom: 1rem;
  color: var(--color-font-sub-medium);
  font-size: 0.75rem;
  font-weight: 600;
  transition: color var(--transition);
}

.category {
  padding: 0.25rem 0.45rem;
  color: var(--color-font-sub-medium);
  font-size: 0.675rem;
  font-weight: 700;
  border: var(--border-solid);
  border-radius: 0.25rem;
  background-color: var(--color-content-sub-light);
  transition:
    color var(--transition),
    border-color var(--transition),
    background-color var(--transition);
}
