.item:link,
.item:visited {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  padding: 1.25rem;
  border: var(--border-solid);
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  transition:
    border-color var(--transition),
    box-shadow var(--transition),
    background-color var(--transition),
    transform var(--transition);
}

.item:hover,
.item:active {
  border-color: var(--color-primary-25);
  box-shadow: var(--shadow-primary);
  background-color: var(--color-primary-5);
  transform: translateY(-6px);
}

.item:active {
  transform: translateY(-6px) scale(0.955);
}

.emoji {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  border-radius: 0.375rem;
  background-color: var(--color-content-sub-light);
  transition: background-color var(--transition);
}

.item:hover .emoji,
.item:active .emoji {
  background-color: var(--color-primary-25);
}

.bottom {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  align-items: center;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  margin-top: 2rem;
}

.title {
  grid-row: 1 / 2;
  font-size: 1rem;
  font-weight: 700;
  transition: color var(--transition);
}

.text {
  grid-row: 2 / -1;
  font-size: 0.8125rem;
  font-weight: 300;
  line-height: 1.4;
  transition: color var(--transition);
}

.bottom > svg {
  width: 1rem;
  height: 1rem;
  grid-column: 2 / -1;
  grid-row: 1 / -1;
  color: var(--color-font-sub-medium);
}

.item:hover .bottom > svg,
.item:active .bottom > svg {
  color: var(--color-primary-base);
}

@media screen and (max-width: 60rem) {
  .text {
    display: none;
  }
}

@media screen and (max-width: 51.25rem) {
  .title {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 42.5rem) {
  .title {
    font-size: 0.9rem;
  }

  .text {
    display: block;
    font-size: 0.75rem;
  }
}
