.grid-item:link,
.grid-item:visited {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 0.55rem;
  padding: 1.25rem 1.5rem;
  border: var(--border-solid);
  border-radius: 0.75rem;
  box-shadow: var(--shadow);
  background-color: var(--color-content);
  transition:
    border-color var(--transition),
    box-shadow var(--transition),
    background-color var(--transition),
    transform var(--transition);
}

.grid-item:hover,
.grid-item:active {
  border-color: var(--color-primary-50);
  box-shadow: var(--shadow-primary);
  background-color: var(--color-primary-5);
}

.grid-item:hover {
  transform: scale(1.025);
}

.grid-item:active {
  transform: scale(0.985);
}

.grid-item:hover .grid-count,
.grid-item:hover .grid-count {
  color: #fff;
  background-color: var(--color-primary-base);
}

.grid-emoji {
  font-size: 1rem;
  font-weight: 700;
  transition: color var(--transition);
}

.grid-text {
  font-size: 0.9rem;
  font-weight: 600;
  transition: color var(--transition);
}

.grid-count {
  min-width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.75rem;
  font-weight: 700;
  border-radius: 0.5rem;
  background-color: var(--color-content-sub-light);
  transition:
    color var(--transition),
    background-color var(--transition);
}

@media screen and (max-width: 50.625rem) {
  .grid-item:link,
  .grid-item:visited {
    column-gap: 0.5rem;
    row-gap: 0.75rem;
    padding: 1.5rem;
  }

  .grid-emoji {
    font-size: 1rem;
  }

  .grid-text {
    font-size: 0.8125rem;
  }

  .grid-count {
    font-size: 0.75rem;
  }
}
