.accordion {
  margin-top: 1rem;
  border: var(--border-solid);
  border-radius: 0.5rem;
  background-color: var(--color-conent-sub-light-max);
  transition:
    border-color var(--transition),
    background-color var(--transition);
}

.btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: color var(--transition);
}

.btn.active svg {
  transform: rotate(180deg);
}

.content {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.5rem;
  padding: 1rem;
  padding-top: 0;
  overflow: hidden;
}

.item {
  padding: 0.75rem;
  border: var(--border-solid);
  border-radius: 0.5rem;
  background-color: var(--color-content);
  transition:
    border-color var(--transition),
    background-color var(--transition);
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

.item > span {
  width: max-content;
  display: block;
  font-size: 0.75rem;
  font-weight: 500;
  transition: color var(--transition);
}
