.btn {
  width: 2rem;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  aspect-ratio: 1;
  border: var(--border-solid);
  border-radius: 0.375rem;
  background-color: var(--color-content-sub-light);
  transition:
    border-color var(--transition),
    background-color var(--transition);
  z-index: 999;
  opacity: 0;
}

@media screen and (max-width: 48rem) {
  .btn {
    right: 1.75rem;
    bottom: 1.75rem;
  }
}
