@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --font-family:
    'Inter', 'Pretendard Variable', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif;

  --font-bebas: 'Bebas Neue', var(--font-family);

  --width: 64rem;
  --header-height: 4.25rem;

  --color-zinc-0: #ffffff;
  --color-zinc-50: #fafafa;
  --color-zinc-100: #f4f4f5;
  --color-zinc-200: #e4e4e7;
  --color-zinc-300: #d4d4d8;
  --color-zinc-400: #9f9fa9;
  --color-zinc-500: #71717b;
  --color-zinc-600: #52525c;
  --color-zinc-700: #3f3f46;
  --color-zinc-800: #27272a;
  --color-zinc-850: #1f1f21;
  --color-zinc-900: #18181b;
  --color-zinc-950: #09090b;

  --color-amber-50: #fffbeb;
  --color-amber-100: #fef3c6;
  --color-amber-200: #fee685;
  --color-amber-300: #ffd230;
  --color-amber-400: #ffb900;
  --color-amber-500: #fe9a00;
  --color-amber-600: #e17100;
  --color-amber-700: #bb4d00;
  --color-amber-800: #973c00;
  --color-amber-900: #7b3306;
  --color-amber-950: #461901;

  --color-folder-red-light: oklch(70.4% 0.191 22.216 / 0.2);
  --color-folder-red-base: oklch(70.4% 0.191 22.216);

  --color-folder-orange-light: oklch(75% 0.183 55.934 / 0.2);
  --color-folder-orange-base: oklch(75% 0.183 55.934);

  --color-folder-yellow-light: oklch(85.2% 0.199 91.936 / 0.2);
  --color-folder-yellow-base: oklch(85.2% 0.199 91.936);

  --color-folder-lime-light: oklch(84.1% 0.238 128.85 / 0.2);
  --color-folder-lime-base: oklch(84.1% 0.238 128.85);

  --color-folder-green-light: oklch(79.2% 0.209 151.711 / 0.2);
  --color-folder-green-base: oklch(79.2% 0.209 151.711);

  --color-folder-teal-light: oklch(77.7% 0.152 181.912 / 0.2);
  --color-folder-teal-base: oklch(77.7% 0.152 181.912);

  --color-folder-cyan-light: oklch(78.9% 0.154 211.53 / 0.2);
  --color-folder-cyan-base: oklch(78.9% 0.154 211.53);

  --color-folder-sky-light: oklch(74.6% 0.16 232.661 / 0.2);
  --color-folder-sky-base: oklch(74.6% 0.16 232.661);

  --color-folder-blue-light: oklch(70.7% 0.165 254.624 / 0.2);
  --color-folder-blue-base: oklch(70.7% 0.165 254.624);

  --color-folder-indigo-light: oklch(67.3% 0.182 276.935 / 0.2);
  --color-folder-indigo-base: oklch(67.3% 0.182 276.935);

  --color-folder-violet-light: oklch(70.2% 0.183 293.541 / 0.2);
  --color-folder-violet-base: oklch(70.2% 0.183 293.541);

  --color-folder-purple-light: oklch(71.4% 0.203 305.504 / 0.2);
  --color-folder-purple-base: oklch(71.4% 0.203 305.504);

  --color-folder-fuchsia-light: oklch(74% 0.238 322.16 / 0.2);
  --color-folder-fuchsia-base: oklch(74% 0.238 322.16);

  --color-folder-pink-light: oklch(71.8% 0.202 349.761 / 0.2);
  --color-folder-pink-base: oklch(71.8% 0.202 349.761);

  --color-folder-rose-light: oklch(71.2% 0.194 13.428 / 0.2);
  --color-folder-rose-base: oklch(71.2% 0.194 13.428);

  --color-folder-slate-light: oklch(70.4% 0.04 256.788 / 0.2);
  --color-folder-slate-base: oklch(70.4% 0.04 256.788);

  --color-folder-zinc-light: oklch(70.5% 0.015 286.067 / 0.2);
  --color-folder-zinc-base: oklch(70.5% 0.015 286.067);

  --color-folder-stone-light: #a6a09b33;
  --color-folder-stone-base: #a6a09b;

  --border-solid: 1px solid var(--color-border);

  --duration: 0.35s;
  --timing-fn: ease-out;
  --transition: var(--duration) var(--timing-fn);
}

:root,
:root[data-theme='light'],
[data-theme='light'] {
  --color-font: var(--color-zinc-700);

  --color-toast-content: var(--color-zinc-0);

  --color-font-sub-light: var(--color-zinc-300);
  --color-font-sub-medium: var(--color-zinc-400);
  --color-font-sub-dark: var(--color-zinc-500);
  --color-font-sub-dark-max: var(--color-zinc-600);

  --color-primary-base: var(--color-amber-400);
  --color-primary-dark: var(--color-amber-500);
  --color-primary-5: rgba(255, 185, 0, 0.05);
  --color-primary-075: rgba(255, 185, 0, 0.075);
  --color-primary-15: rgba(255, 185, 0, 0.15);
  --color-primary-25: rgba(255, 185, 0, 0.25);
  --color-primary-50: rgba(255, 185, 0, 0.5);
  --color-primary-75: rgba(255, 185, 0, 0.75);

  --color-instagram: #fa4d7e;
  --color-instagram-055: #fa4d7e0e;
  --color-instagram-50: #fa4d7e80;

  --color-facebook: #417dff;
  --color-facebook-055: #417dff0e;
  --color-facebook-50: #417dff80;

  --color-youtube: #ff3131;
  --color-youtube-055: #ff31310e;
  --color-youtube-50: #ff313180;

  --color-twitter: #1d1d1d;
  --color-twitter-055: #1d1d1d0e;
  --color-twitter-50: #1d1d1d80;

  --color-content: var(--color-zinc-0);

  --color-content-sub-light-max: var(--color-zinc-50);
  --color-content-sub-light: var(--color-zinc-100);
  --color-content-sub-medium: var(--color-zinc-200);
  --color-content-sub-hover: var(--color-zinc-200);
  --color-content-sub-active: var(--color-zinc-300);

  --color-copy: var(--color-zinc-800);
  --color-copy-sub: var(--color-zinc-700);
  --color-copy-sub-hover: var(--color-zinc-600);
  --color-copy-font: var(--color-zinc-300);
  --color-copy-border: var(--color-zinc-500);
  --color-copy-border-light: var(--color-zinc-300);

  --color-border: var(--color-zinc-200);
  --color-border-light: var(--color-zinc-100);
  --color-border-medium: var(--color-zinc-400);

  --color-bg: var(--color-zinc-0);

  --color-red: #fb2c36;
  --color-red-medium: #e0232c;
  --color-red-dark: #c71922;
  --color-red-10: #fb2c361a;
  --color-red-25: #fb2c3640;

  --color-orange: #ff8903;
  --color-orange-10: #ff89031a;
  --color-orange-15: #ff890326;

  --color-link: #3190ff;

  --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.075), 0 2px 4px -2px rgb(0 0 0 / 0.075);
  --shadow-hover: 0 4px 10px -1px rgb(0 0 0 / 0.1), 0 2px 8px -2px rgb(0 0 0 / 0.1);
  --shadow-red: 0 4px 6px -1px rgb(231 0 11 / 0.075), 0 2px 4px -2px rgb(231 0 11/0.075);
  --shadow-primary: 0 4px 10px -1px rgb(255 185 0 / 0.25), 0 2px 8px -2px rgb(255 185 0 / 0.25);
  --shadow-primary-hover: 0 4px 10px -1px rgb(255 185 0 / 0.5), 0 2px 8px -2px rgb(255 185 0 / 0.5);
}

:root[data-theme='dark'],
[data-theme='dark'] {
  --color-font: var(--color-zinc-200);

  --color-toast-content: var(--color-zinc-850);

  --color-font-sub-light: var(--color-zinc-600);
  --color-font-sub-medium: var(--color-zinc-500);
  --color-font-sub-dark: var(--color-zinc-400);
  --color-font-sub-dark-max: var(--color-zinc-300);

  --color-primary-base: var(--color-amber-500);
  --color-primary-medium: var(--color-amber-400);
  --color-primary-dark: var(--color-amber-300);

  --color-primary-5: rgba(254, 154, 0, 0.05);
  --color-primary-075: rgba(254, 154, 0, 0.075);
  --color-primary-15: rgba(254, 154, 0, 0.15);
  --color-primary-25: rgba(254, 154, 0, 0.25);
  --color-primary-50: rgba(254, 154, 0, 0.5);
  --color-primary-65: rgba(254, 154, 0, 0.75);

  --color-instagram: #e14c77;
  --color-instagram-055: #e14c770e;
  --color-instagram-50: #e14c7780;

  --color-facebook: #668fff;
  --color-facebook-055: #668fff0e;
  --color-facebook-50: #668fff80;

  --color-twitter: #eaeaea;
  --color-twitter-055: #eaeaea0e;
  --color-twitter-50: #eaeaea80;

  --color-youtube: #e93f3f;
  --color-youtube-055: #e93f3f0e;
  --color-youtube-50: #e93f3f80;

  --color-content: var(--color-zinc-900);

  --color-content-sub-light-max: var(--color-zinc-850);
  --color-content-sub-light: var(--color-zinc-800);
  --color-content-sub-medium: var(--color-zinc-700);
  --color-content-sub-hover: var(--color-zinc-700);
  --color-content-sub-active: var(--color-zinc-600);

  --color-copy: var(--color-zinc-950);
  --color-copy-sub: var(--color-zinc-850);
  --color-copy-sub-hover: var(--color-zinc-800);
  --color-copy-font: var(--color-zinc-300);
  --color-copy-border: var(--color-zinc-600);
  --color-copy-border-light: var(--color-zinc-400);

  --color-border: var(--color-zinc-700);
  --color-border-light: var(--color-zinc-800);
  --color-border-medium: var(--color-zinc-600);

  --color-red: #e7313a;
  --color-red-medium: #e7222b;
  --color-red: oklch(57.7% 0.245 27.325);
  --color-red-10: #e7000b1a;
  --color-red-25: #e7000b40;

  --color-green: #ff6900;
  --color-green-10: #ff69001a;
  --color-green-15: #ff690026;

  --color-link: #3f8feb;

  --color-bg: var(--color-zinc-900);

  --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.45), 0 2px 4px -2px rgb(0 0 0 / 0.45);
  --shadow-hover: 0 4px 10px -1px rgb(0 0 0 / 0.75), 0 2px 8px -2px rgb(0 0 0 / 0.75);
  --shadow-red: 0 4px 6px -1px rgb(193 0 7 / 0.2), 0 2px 4px -2px rgb(193 0 7 / 0.2);
  --shadow-primary: 0 4px 10px -1px rgb(254 154 0 / 0.15), 0 2px 8px -2px rgb(254 154 0 / 0.15);
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
}

button {
  color: inherit;
  font: inherit;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}

textarea,
input {
  color: inherit;
  font: inherit;
  border: none;
  border-radius: unset;
  outline: none;
  background: none;
}

svg {
  width: 0.875rem;
  height: 0.875rem;
  transition:
    color var(--transition),
    transform var(--transition),
    opacity var(--transition);
}

textarea {
  width: 100%;
  resize: none;
}

body {
  color: var(--color-font);
  font-size: 0.875rem;
  font-family: var(--font-family);
  line-height: 1;
  background-color: var(--color-bg);
  transition: background-color var(--transition);
}

.line-clamp {
  display: -webkit-box;
  text-overflow: ellipsis;
  line-height: 1.4;
  word-break: break-all;
  white-space: pre-wrap;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line--1 {
  line-clamp: 1;
  -webkit-line-clamp: 1;
}

.line--2 {
  line-clamp: 2;
  -webkit-line-clamp: 2;
}
