@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.language {
  position: relative;
}

.btn {
  height: 1.75rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0 0.65rem;
  border-radius: 0.375rem;
  background-color: transparent;
  transition: background-color var(--transition);
}

.btn:hover {
  background-color: var(--color-content-sub-light);
}

.btn:active {
  background-color: var(--color-content-sub-hover);
}

.btn > span {
  color: var(--color-sub-font);
  font-size: 0.8125rem;
  font-weight: 600;
  font-family: 'Quicksand', var(--font-family);
  transition: color var(--transition);
}

.btn > svg {
  color: var(--color-sub-font);
}

@media screen and (max-width: 48rem) {
  .btn > span {
    font-size: 0.625rem;
  }

  .btn > svg {
    width: 0.8125rem;
    height: 0.8125rem;
  }
}
