.settings {
  display: flex;
  align-items: center;
  border: var(--border-solid);
  border-radius: 0.5rem;
  transition: border-color var(--transition);
  overflow: hidden;
  animation: slideUp 0.55s ease;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.btn {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition);
}

.btn:not(.active):hover {
  background-color: var(--color-content-sub-light);
}

.btn svg {
  width: 0.85rem;
  height: 0.85rem;
}

.btn.active {
  color: #fff;
  background-color: var(--color-primary-base);
}

@media screen and (max-width: 40rem) {
  .settings {
    border-radius: 0.375rem;
  }

  .btn {
    width: 1.5rem;
    height: 1.5rem;
  }

  .btn svg {
    width: 0.75rem;
    height: 0.75rem;
  }
}
